[Unit]
Description=Run sinatra app

[Service]
User=ecojuntak
WorkingDirectory=/home/ecojuntak
ExecStart=/usr/bin/ruby travis-ansible/index.rb -o 0.0.0.0
Restart=always

[Install]
WantedBy=multi-user.target